.one
{
    text-align: center;
border-bottom: 3.4px solid black;


    
}
.two
{
    text-align: center;
}
.three{
    text-align: center;
    border-bottom:2px solid black ;
}
.six h3{
    text-align: center;
}
.six h3
{
border-bottom: 2px solid black;
}