/* .box{


    height: 200px;
    width: 20%;
    border: 2px solid black;

}
       

.one
{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJgH63m4YXKPBWj2yf1sZJ7ijCWsEhiMKGjA&s);
    background-size: cover;
    top: 50%;
    transform: translateY(2%);

    
} 
    
   div h4 {
    margin-left: 40%;
    
    
   }
   
    table {
        transform: translateX(300%);
        
        
    }

table td{

} */
    
table
{
    border: 3px solid black;
    width: 300px;
    height: 200px;
    background-color: lightyellow;
}

div{
 height: 100px;
 width: 100px;
 border: 1px solid black;
 border-radius: 50%;
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3gbGoDPVXbzCB8f0aWljjdT9yNsmitxXtTQ&s);
 background-size: cover;
}





    

