body{
    height: 600px;
    width: 1050px;
    display: flex;
    border: 2px solid black;
    display: inline-block;
    font-size: 0.4em;
    
    color: white;
    /* word-wrap: break-word; */
    /* justify-content: space-around */
    
    

}
.one button {


 height: 40px;
    width: 40px;
    border: 1px solid rgb(182, 147, 147);
    background-color: black;
    color: white;
    /* display: inline-block; */
    margin-top: 10px;
    margin-left: 8px;
    text-align: center;
    
}    
.two button {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(182, 147, 147);
    background-color: black;
    color: white;
    /* display: inline-block; */
    margin-top: 10px;
    margin-left: 8px;
    text-align: center;
    justify-content: space-evenly;
}
/* specific keys width */
button h5
{
width: 100%;
/* font-size: 0.5em; */


margin-top: 11.2px;


}
#space
{
width: 100px;
/* justify-content: space-evenly; */
}

.three{
    color: white;
    background-color: black;
    height: 40px;
    width: 40px;
      margin-top: 10px;
    margin-left: 8px;
    text-align: center;
    /* justify-content: center; */
    display: flex;
    
}

    


